In [1]:
print("=========OM===========")

=========OM===========

In [2]:
import pandas as pd

In [26]:
df=pd.read_csv('npr.csv')

In [27]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_df=.9, min_df=2,stop_words='english')

In [36]:
dtm=tfidf.fit_transform(df['Article'])

In [37]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [38]:
from sklearn.decomposition import NMF
nmf_model=NMF(n_components=7,random_state=42)

In [39]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
  n_components=7, random_state=42, shuffle=False, solver='cd', tol=0.0001,
  verbose=0)

In [33]:
tfidf.get_feature_names()[200]

'1801'

In [45]:
nmf_model.components_[1].argsort()[-15:]

array([21161, 36227, 38081, 42390,  1762, 16123, 41009, 34145, 53582,
       23698, 15010,  7900, 42561, 38079, 50426])

In [49]:
for index,topic in enumerate(nmf_model.components_):
    print('topic number is -----{}'.format(index))
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

topic number is -----0
['new', 'research', 'like', 'patients', 'health', 'disease', 'percent', 'women', 'virus', 'study', 'water', 'food', 'people', 'zika', 'says']


topic number is -----1
['gop', 'pence', 'presidential', 'russia', 'administration', 'election', 'republican', 'obama', 'white', 'house', 'donald', 'campaign', 'said', 'president', 'trump']


topic number is -----2
['senate', 'house', 'people', 'act', 'law', 'tax', 'plan', 'republicans', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']


topic number is -----3
['officers', 'syria', 'security', 'department', 'law', 'isis', 'russia', 'government', 'state', 'attack', 'president', 'reports', 'court', 'said', 'police']


topic number is -----4
['primary', 'cruz', 'election', 'democrats', 'percent', 'party', 'delegates', 'vote', 'state', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']


topic number is -----5
['love', 've', 'don', 'album', 'way', 'time', 'song', 'life', 'really', 'know', 'people', 'think', 'just', 'music', 'like']


topic number is -----6
['teacher', 'state', 'high', 'says', 'parents', 'devos', 'children', 'college', 'kids', 'teachers', 'student', 'education', 'schools', 'school', 'students']

In [56]:
topic_result=nmf_model.transform(dtm)

In [59]:
topic_result[0].argmax()

1

In [63]:
df['topic_num']=topic_result.argmax(axis=1)

In [64]:
df.head()

                                             Article  topic_num
0  In the Washington of 2016, even when the polic...          1
1    Donald Trump has used Twitter  —   his prefe...          1
2    Donald Trump is unabashedly praising Russian...          1
3  Updated at 2:50 p. m. ET, Russian President Vl...          3
4  From photography, illustration and video, to d...          6

In [66]:
topic_text={0:'zero',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six'}
df['topic_name']=df['topic_num'].map(topic_text)

In [67]:
df.head()

                                             Article  topic_num topic_name
0  In the Washington of 2016, even when the polic...          1        one
1    Donald Trump has used Twitter  —   his prefe...          1        one
2    Donald Trump is unabashedly praising Russian...          1        one
3  Updated at 2:50 p. m. ET, Russian President Vl...          3      three
4  From photography, illustration and video, to d...          6        six